 /* GLOBAL STYLING FOR THE EXTENSION  */
 :root {
     --color-neutral-bg: #f8f5f2;
     --color-surface: #fcfaf8;
     --color-text: #575655;
     --color-text-muted: #6b625c;
     --color-secondary: #efe7df;
     --color-accent: #c4672a;
     --color-accent-2: #d07a40;
 }

 @media (prefers-color-scheme: dark) {
     :root {
         --color-neutral-bg: #1f1d1b;
         --color-surface: #262320;
         --color-text: #f3f2f0;
         --color-text-muted: #c9c3bd;
         --color-secondary: #3a352f;
         --color-accent: #e08946;
         --color-accent-2: #f09a59;
     }
 }

 * {
     font-family: "Custom", sans-serif;
 }

 body {
     background-color: var(--color-neutral-bg);
     color: var(--color-text);
 }

 body.popup-html {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: start;
     height: 32em;
     width: 28em;

 }
